<script type="text/x-template" id="go-feed">

    <div class="feed">
        <go-header v-bind:feed="feed"></go-header>
        <div class="chatScreen" v-if="feed.screens.chat.active" transition="fade">
            <go-chat v-bind:feed="feed"></go-chat>
        </div>

        <div class="notifScreen" v-if="feed.screens.notif.active" transition="fade">
        </div>

        <div class="settingsScreen" v-if="feed.screens.settings.active">
            <go-settings></go-settings>
        </div>
    </div>

</script>

<script type="text/x-template" id="go-header">
    <div class="header">
        <template v-if="feed.screens.chat.active">
            <img id="chat" v-on:click="changeScreen" src="/Resources/images/chat_active.png">
            <img id="notif" v-on:click="changeScreen" src="/Resources/images/bell_inactive.png">
            <img id="settings" v-on:click="changeScreen" src="/Resources/images/settings_inactive.PNG">
        </template>

        <template v-if="feed.screens.notif.active">
            <img id="chat" v-on:click="changeScreen" src="/Resources/images/chat_inactive.png">
            <img id="notif" v-on:click="changeScreen" src="/Resources/images/bell_active.png">
            <img id="settings" v-on:click="changeScreen" src="/Resources/images/settings_inactive.PNG">
        </template>

        <template v-if="feed.screens.settings.active">
            <img id="chat" v-on:click="changeScreen" src="/Resources/images/chat_inactive.png">
            <img id="notif" v-on:click="changeScreen" src="/Resources/images/bell_inactive.png">
            <img id="settings" v-on:click="changeScreen" src="/Resources/images/settings_active.PNG">
        </template>
    </div>
</script>

<script type="text/x-template" id="go-footer">
    <div id="addButtons">
        <button id="addDiscussion" v-on:click="addToDiscussion">
            <img src="/Resources/images/addToDiscussion.png">
            <p>Start a discussion</p>
        </button>
        <button id="addPortal" v-on:click="addToPortal">
            <img src="/Resources/images/addToPortal.png">
            <p>Add to portal</p>
        </button>
    </div>
</script>

<script type="text/x-template" id="go-chat-box">
    <ul>
        <li v-for="chat in feed.screens.chat.chatList">
            <div id="chatBox">
                <img v-bind:src=chat.latestComment.profilePic>
                <h5>{{ chat.topicName }}</h5><br/>
                <p id="Comment">{{chat.latestComment.profileName}} : {{chat.latestComment.comment}}</p><br/>
                <p id="added">{{ chat.added }}</p>
            </div>
        </li>
    </ul>
</script>

<script type="text/x-template" id="go-chat">
    <template v-if="feed.screens.chat.empty">
        <img id="noteIcon" src="/Resources/images/note-icon.png">
        <div id="emptyChat">
            <h5>There's No Notes on this page</h5><br/>
            <p>Be the first one to add a note<br/> on this page by clicking on the below button<br/> or drag to choose a favourite quote on page</p>
        </div>
    </template>
    <template v-else>
        <div id="chatFilter">
            <button id="highestRated" v-on:click="loadHighestRated">
                <p>Highest Rated</p>
            </button>
            <button id="mostRecent" v-on:click="loadMostRecent">
                <p>Most Recent</p>
            </button>
        </div>
        <div id="chatList">
            <go-chat-box v-bind:feed="feed"></go-chat-box>
        </div>
    </template>
    <go-footer></go-footer>
</script>

<script type="text/x-template" id="go-settings">
    <div class="profilePic">
        <img id="userProfilePic" src="/Resources/images/blank-profile-picture.png">
        <p>User Name</p>
    </div>
    <div class="settingOptions">
        <div class="notificationSett">
            <p>Notification</p>
            <label class="switch">
                <input v-on:click="updateClickedSetting" type="checkbox">
                <div class="slider round"></div>
            </label>
        </div>
        <div class="quickButtSett">
            <p>Allow quick button</p>
            <label class="switch">
                <input v-on:click="updateClickedSetting" type="checkbox">
                <div class="slider round"></div>
            </label>
        </div>
        <div class="signoutSett">
            <p v-on:click="signOut">Sign Out</p>
        </div>
    </div>
</script>

<script type="text/x-template" id="go-login-form">
    <div class="form">
        <img id="logo" src="/Resources/images/go1.PNG">
        <h2 id="form-heading">Sign In to GO1</h2>
        <div>
            <form action="javascript:void(0);">
                <input v-model="form.emailId" type="email" id="email" class="form-control" placeholder="Email" required autofocus>
                <input v-model="form.pwd" type="password" id="password" class="form-control" placeholder="Password" required>
                <input type="submit" class="log-in-button" v-on:click="submitLogin" value="Log In">
            </form>
            <p id="formError" v-if="form.formError.active">{{form.formError.text}}</p>
            <p>Or</p>
            <button class="register-button" v-on:click="gotoRegister">Register</button>
            <p id="forgot-password" v-on:click="forgotPassword">Forget Password?</p>
        </div>
    </div>
</script>

<script type="text/x-template" id="go-discussion">
    <div id="discussion">
        <go-start-discussion v-bind:discussion="discussion" v-if="discussion.start.active"></go-start-discussion>
        <go-continue-discussion v-bind:discussion="discussion" v-if="discussion.continue.active"></go-continue-discussion>
    </div>
</script>

<script type="text/x-template" id="go-start-discussion">
    <div id="startDiscussion">
        <div class="discussionHeader">
            <img v-on:click="backToFeed" id="back" src="/Resources/images/backArrow.png">
            <h5>START DISCUSSION</h5>
            <img v-on:click="openDiscussionSettings" id="discussionSettings" src="/Resources/images/settings_dark.png">
        </div>
        <div class="discussionTopic">
            <input id="topic" placeholder="Discussion Topic" v-model="discussion.start.topic.heading">
        </div>
        <div id="note" v-if="discussion.start.note.active">
            <p>{{discussion.start.note.text}}</p>
        </div>
        <div id="webLink" v-if="discussion.start.webLink.active" v-bind:style="discussion.start.style.weblink">
            <p>Related to:</p>
            <div id="metaData">
                <img v-bind:src="discussion.start.webLink.imgSrc">
                <h4>{{discussion.start.webLink.title}}</h4>
                <p>{{discussion.start.webLink.desc}}</p>
            </div>
        </div>
        <div id="topicDescription" v-bind:style="discussion.start.style.topic">
            <textarea placeholder="Say something about this page" v-model="discussion.start.topic.detail"></textarea>
        </div>
        <div id="discussionFooter">
            <select>
                <option>My connections</option>
            </select>
            <button v-on:click="addDiscussion">Start Discussion</button>
            <div id="linkPageDiv">
                <input v-on:click="addRemoveWebLink" id="linkPage" type="checkbox">
                <label for="linkPage">Link to this page</label>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="go-continue-discussion">
    <div id="continueDiscussion">
        <div class="discussionHeader">
            <img v-on:click="backToFeed" id="back" src="/Resources/images/backArrow.png">
            <h5>DISCUSSION</h5>
            <img v-on:click="openDiscussionSettings" id="discussionSettings" src="/Resources/images/settings_dark.png">
        </div>
    </div>
</script>

<script type="text/x-template" id="go-root">
    <div id="go-sidebar">
        <log-in-form v-bind:form="form"  v-if="form.active"></log-in-form>
        <go-feed v-bind:feed="feed" v-if="feed.active"></go-feed>
        <go-discussion v-bind:discussion="discussion" v-if="discussion.active"></go-discussion>
    </div>
</script>